@{
    ViewData["Title"] = "Texter - Contact List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Texter.Models.Contact>

<h2>Contact List</h2>
@foreach (var contact in Model)
{
    <hr /><div>
            <form>
                <p> @contact.Name | @contact.Phone </p>
                <button class="">@Html.ActionLink("Message contact!", "SendMessage", new {id = @contact.ContactId })</button>
            </form>
    </div>

}
<hr /><br />

@Html.ActionLink("Homepage", "Index")  |  @Html.ActionLink("Create a New Contact", "CreateContact")